nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8EAF9D;
  padding: 20px 25px;
  color: black;
  height: 90px;
  box-shadow: 0px 9px 7.4px  grey;
}


nav > h3, nav > h4 {
  margin: 0;
}

nav > h4 {
  color: #deebf8;
  font-weight: 600;
}

nav > h3{
  color: black;
  font-weight: 700;
  font-size: 22px;
}
